@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title</h2>

<p>LifeCare application allows patients to book appointments or tests with various health experts from any of the LifeCare Hospitals facilities. </p>
