@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>

<address>
    LifeCare HQ<br />
    Monash Road<br />
    Clayton VIC 3167<br />
    <abbr title="Phone">P:</abbr>
    0458271745
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:sahajkjain@gmail.com">lifecare@support.com</a><br />
</address>