@{
    ViewBag.Title = "Lifecare Home";
}
<div>
    <div class="jumbotron text-center">
        <div class="col-md-4">
            <strong>Book Appointment</strong>
            <a href="/Appointments/Index">
                <input type="image" name="Book Appointment" src="~/icons/appointments.png" alt="Book Appointments">
            </a>
        </div>
        <div class="col-md-4">
            <strong>Book Lab Test</strong>
            <a href="/Tests/Index">
                <input type="image" name="Book Lab Test" src="~/icons/tests.png" alt="Book Tests">
            </a>
        </div>
    </div>
</div>